.form-container{
    position:fixed;
    top:50%;
    left:50%;
    padding:20px;
    border-radius: 3px;
    transform: translateX(-50%) translateY(-50%);
    display: block;
    width:25vw;
    hxeight:590px;
    background-color: rgba(255,255,255,0.95);
}